<% if current_user %>

<% profile = @graph.get_object("me") %>
<% friends = @graph.get_connections("me", "friends") %>
<ul>
	<% friends_id_array = [] %>
<% friends.each do |friend| %>
  <% friends_id_array << friend["id"]  %>

 <% end %>
 <% feed_posts = Post.find_all_by_user_id(friends_id_array,limit: 30) %>
 <ul>
 <% feed_posts.each do |post| %>

 <li><%= post.text %></li>
 <% end %>
</ul>
</ul>
<% end %>