   	<!-- footer -->
   	<div id="footer">
   	 <div class="container">
   	 <div class="row">
   	 <div class="col-md-12">
   	 created at the <a href="http://www.hackbeanpot.com" target="_blank">Beanpot Hackathon</a> by John Kohler, Lukas Berger & Greg Skloot
   	 </div>
   	 </div>
   	 </div>
   	</div>